.ember-light-table,body,html {
    font-family: 'Open Sans',sans-serif;
    color: #333;
}

li {
  margin: 1em;
}

.select-expand-button {
  width: 30em;
}

.team {
  border: solid thin red;
  font-size: 60%;
  color: red;
  padding: 0.3em;
}

.page-container {
  display: grid;
  grid-template-rows: 5em auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "header header"
    "menu body";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page-container > header {
  grid-area: header;
  background: #4c9138;
  color: #daf274;
  padding-top: 0.5em;
  padding-right: 2em;
  padding-left: 2em;
  overflow: hidden;
  border-botto: solid #4e6336 2px;
  min-width: 45em;
}
.page-container > article {
  grid-area: body;
  padding: 1em 2em 2em 2em;
  background-color: #f9fff2;
  font-size: 14px;
}
.ember-light-table {
/*  border: solid thin #dd6a58;*/
}
.ember-light-table .is-selectable:hover {
  cursor:pointer;
  background-color: #ffffff;
}
.ember-light-table .remove,
.ember-light-table .plus {
  display: inline-block;
  cursor: pointer;
  font-size: 1.2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  border: solid 1px #4c9138;
  background-color: #c4edb8;
  color: #6d8700;
}

.ember-light-table .remove {
    float: right;
}
.ember-light-table .plus {
    margin-top: 0.5em;
    float: left;
}

.ember-light-table .lt-head {
  color: #f9f9f9;
  background-color: #dd6a58;
  border: solid thin #dd6a58;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden; /* needed to get borders to clip */
}
.ember-light-table .lt-column,
.ember-light-table .lt-cell {
  padding: 0.8em;
  border: solid thin #dd6a58;
}

.ember-light-table .lt-body {

}

.ember-light-table .lt-row {

}

.ember-light-table .lt-cell {

}

div.file-upload {
  border: dashed 4px #5f8dd8;
  border-radius: 16px;
  background-color: #b6d0f9;
  font-weight: bold;
  padding: 2em;
  height: 60px;
}

 label.file-upload {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.page-container > section {
  grid-area: menu;
  border-right: solid #4e6336 2px;
  text-align: left;
  background-color: #c4edb8;
}
.page-container > section > a {
  color: #6d8700;
  text-decoration: none;
  display: block;
  margin: 1em 1em;
}
.page-container > section > h2 {
  display: none;
}
