<h1>{{report.title}} Survey Report</h1>
{{#each report.surveyslots as |surveyslot|}}
  {{#if (not-equals surveyslot.survey.name 'None of these')}}
    {{surveyslot-list surveyslot=surveyslot}}
  {{/if}}
{{/each}}
