<div class='page-container'>
<header><h1>Bob Brown Foundation - BioBlitz Schedule</h1></header>
<section>
  <h2>Menu</h2>
  {{#link-to 'locations'}}Locations{{/link-to}}
  {{#link-to 'roles'}}Roles{{/link-to}}
  {{#link-to 'teams'}}Teams{{/link-to}}
  {{#link-to 'surveys'}}Surveys{{/link-to}}
  {{#link-to 'timeslots'}}Time Slots{{/link-to}}

</section>
<article>{{outlet}}</article>
</div>
