<div class='page-container'>
<header><h1>Bob Brown Foundation - BioBlitz Schedule</h1></header>
<section>
  <h2>Menu</h2>
  {{#link-to 'locations'}}Locations{{/link-to}}

</section>
<article>{{outlet}}</article>
</div>
