<h1>Transport Reports</h1>
<div>{{#link-to 'report.travel' (query-params day="friday")}}Friday Transport Report{{/link-to}}</div>
<div>{{#link-to 'report.travel' (query-params day="friday_eve")}}Friday Evening Transport Report{{/link-to}}</div>
<div>{{#link-to 'report.travel' (query-params day="saturday_dawn")}}Saturday Dawn Transport Report{{/link-to}}</div>
<div>{{#link-to 'report.travel' (query-params day="saturday")}}Saturday Transport Report{{/link-to}}</div>
<div>{{#link-to 'report.travel' (query-params day="saturday_eve")}}Saturday Evening Transport Report{{/link-to}}</div>
<div>{{#link-to 'report.travel' (query-params day="sunday")}}Sunday Transport Report{{/link-to}}</div>

<h1>Survey Reports</h1>
<div>{{#link-to 'report.survey' (query-params day="friday")}}Friday Survey Report{{/link-to}}</div>
<div>{{#link-to 'report.survey' (query-params day="friday_eve")}}Friday Evening Survey Report{{/link-to}}</div>
<div>{{#link-to 'report.survey' (query-params day="saturday_dawn")}}Saturday Dawn Survey Report{{/link-to}}</div>
<div>{{#link-to 'report.survey' (query-params day="saturday")}}Saturday Survey Report{{/link-to}}</div>
<div>{{#link-to 'report.survey' (query-params day="saturday_eve")}}Saturday Evening Survey Report{{/link-to}}</div>
<div>{{#link-to 'report.survey' (query-params day="sunday")}}Sunday Survey Report{{/link-to}}</div>
